html{
    margin: 0px;
    padding: 0px;
}

body{
    background-image: url("https://i.pinimg.com/736x/02/aa/6f/02aa6fc8f112bce0f0fcfd47b8940666.jpg");
    background-size:cover;
    background-position: center;
    height: 90vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

#timer{
    margin: 30px;
    padding: 20px;

    font-family: "Major Mono Display", monospace;
    font-weight: 100;
    font-style: normal;

    font-size: min(25vh, 14vw);
    /* font-size: 25vh; */
    color: #73debc;
    text-shadow:0 0 10px #98ebd2,
                0 0 20px #98ebd2,
                0 0 30px #98ebd2,
                0 0 30px #98ebd2;

    

    background-color: rgba(0, 0, 0, 0.85);
    height: 25vh;
    width: 50vw;
    border-radius: 20px;

    /* text-align: center; */

    display: flex;
    justify-content: center;
    align-items: center;
}

#mode{
    font-family: "Major Mono Display", monospace;
    font-weight: 900;
    font-style: normal;

    color: white;
}

.timer-container{
    text-align: center;
}

button {
    padding: 10px 15px;
    margin: 10px;

    border: none;
    border-radius: 8px;

    font-size: 18px;
    cursor: pointer;

    font-family: "Major Mono Display", monospace;
    font-weight: 700;
}

button:hover {
    transform: scale(1.05);
}
